header {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/pattern.png);
    background-color: rgba(77,161,255,255);
    background-size: 40%;
    background-position: 10% -15%;
}

#logo {
    max-width: 200px;
    max-height: 100px;
    padding-top: 50px;    
    padding-left: 5px;
    padding-bottom: 10px;
}

main {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}  

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    
}

#subtitle {
    margin: 5px;
    color: grey;
    font-size: larger;
}

a {
    color:rgb(0, 181, 226);
    text-decoration: none;
}

#date {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    color: grey;
    font-size: small;
}

#img_1 {
    max-width: 53.5%; 
}

#img_2 {
    float: right;
    max-width: 45.75%;
}

#photo_subtitle {
    font-size:x-small;
    margin-top: 3px;
    font-weight: bold;
}
