header {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/pattern.png);
    background-color: rgba(77, 161, 255, 255);
    background-size: 40%;
    background-position: 10% -15%;
}

#logo {
    max-width: 200px;
    max-height: 100px;
    padding-top: 50px;
    padding-left: 5px;
    padding-bottom: 10px;
}

main {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;

}

#subtitle {
    margin: 5px;
    color: grey;
    font-size: larger;
}

a {
    color: rgb(0, 181, 226);
    text-decoration: none;
}

#date {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    color: grey;
    font-size: small;
}

#img_1 {
    max-width: 53%;
}

#img_2 {
    max-width: 45.25%;
}

#photo_subtitle {
    font-size: x-small;
    margin-top: 3px;
    font-weight: bold;
}

th {
    text-align: left;
    background-color: rgb(26, 170, 230);
    color: white
}

tr:nth-child(odd) {
    background-color: rgb(178, 230, 242);
}

table {
    border-spacing: 0px;
}

footer {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: gray;
    font-weight: bold;
}

.final_images {
    max-width: 20%;
    margin: 2px;
}

.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white
}